<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../dist/style/style.css" />
      <title>About</title>
   </head>
   <body>
      <%- include('../components/header.ejs') %>
      <div class="container">
		  <p>TLP Media (The Linuxoid Pantry) - медіа, що об'єднує Linux та IT новини разом з особистим блогом Костянтина - єдиного засновника/адміністратора.<br>
		  Мета TLP - надати людям, які цікавляться GNU/Linux, open source та IT, найдокладнішу та найактуальнішу інформацію про світ комп'ютерних технологій, разом з об'єктивно написаним блогом та оглядами.
		  </p>
      </div>
   </body>
</html>
